@use 'header';
@use 'media';
@use 'main';
@use 'footer';
@use 'popup';
@use 'reset';
@use 'slick';
@use 'slick-theme';
@use 'fonts';
@use 'mixin';

body,html{
    height: 100%;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat';
    background-color: rgb(255, 255, 255);
    line-height: 1.25;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
    &:not(:last-child){
        margin-bottom: 60px;
    }
}
.wrapper{
    display: flex;
    flex-direction: column;
}


a{
    text-decoration: none;
    color: #fff;
}
.specification {
        background:  linear-gradient(45deg, rgb(50, 50, 100) 100%, rgb(50, 50, 100) 100%, rgb(100, 62, 114) 100%);
        background: -webkit-linear-gradient(45deg, rgb(50, 50, 100) 100%, rgb(50, 50, 100) 100%, rgb(100, 62, 114) 100%);
        background: -moz-linear-gradient(45deg, rgb(50, 50, 100) 100%, rgb(50, 50, 100) 100%, rgb(100, 62, 114) 100%);
    }

