@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?5c14xv');
  src:  url('../../fonts/icomoon.eot?5c14xv#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?5c14xv') format('truetype'),
    url('../../fonts/icomoon.woff?5c14xv') format('woff'),
    url('../../fonts/icomoon.svg?5c14xv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dlook:before {
  content: "\e900";
}
.icon-adtelligent:before {
  content: "\e901";
}
.icon-artprint:before {
  content: "\e902";
}
.icon-city-par:before {
  content: "\e903";
}
.icon-clickky:before {
  content: "\e904";
}
.icon-eco-leasing:before {
  content: "\e905";
}
.icon-Facebook-Footer:before {
  content: "\e913";
  color: #24a3ff;
}
.icon-hillel:before {
  content: "\e906";
}
.icon-ingratek:before {
  content: "\e907";
}
.icon-orangear:before {
  content: "\e908";
}
.icon-tapgerine:before {
  content: "\e909";
}
.icon-ultimatecard:before {
  content: "\e90a";
}
.icon-wannabiz:before {
  content: "\e90b";
}
.icon-Coprorate:before {
  content: "\e90c";
}
.icon-Court:before {
  content: "\e90d";
}
.icon-Ecommerce .path1:before {
  content: "\e90e";
  color: rgb(0, 0, 0);
}
.icon-Ecommerce .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Ecommerce .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Facebook:before {
  content: "\e90f";
  color: #fff;
}
.icon-Protection:before {
  content: "\e910";
}
.icon-Support:before {
  content: "\e912";
}
.icon-Trust:before {
  content: "\e911";
}
