@media screen and (max-width:415px) {
    

.page-work{
    &__list{
        columns: 1;
    }
    &__item{
        margin-bottom: 15px;
    }
}
}
@media screen and (min-width:416px){
    .page-work{
        &__item{
            &:not(:nth-child(4n)){
                margin-bottom: 15px;
            }
        }
    }
}