
@use '../../scss/header';
@use 'header-service';

@use '../../scss/media';
@use 'media-service';
@use 'main-service';
@use '../../scss/main';
@use '../../scss/footer';
@use '../../scss/popup';
@use 'fonts-service';
@use '../../scss/reset';


body,html{
    height: 100%;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat';
    background-color: rgb(255, 255, 255);
    line-height: 1.25;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    overflow: hidden;
    &:not(:last-child){
        margin-bottom: 60px;
    }
}
a{
    text-decoration: none;
    color: #fff;
}
.specification {
        background:  linear-gradient(45deg, rgb(50, 50, 100) 100%, rgb(50, 50, 100) 100%, rgb(100, 62, 114) 100%);
        background: -webkit-linear-gradient(45deg, rgb(50, 50, 100) 100%, rgb(50, 50, 100) 100%, rgb(100, 62, 114) 100%);
        background: -moz-linear-gradient(45deg, rgb(50, 50, 100) 100%, rgb(50, 50, 100) 100%, rgb(100, 62, 114) 100%);
    }


